
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    margin: 20px;
  }
  
  .navbar{
    background-color: fffff;
    font-size: larger;
    margin: 20px;
  }
  .bannerHolder{
    margin: 10%;
    background-color:#28282B;
  }
  .bannerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .featureTitle{
    text-align: center;
  }
  .product-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
  }
  .product-item {
   color: black;
   font-size: larger;
   position:relative;
  }
  .product-item img {
    max-width: 100%; 
    max-height: 200px; 
    display: block; 
  }

  .button-container {
    position: absolute; /* Position the button */
    top: 50%; /* Align the button vertically */
    left: 50%; /* Align the button horizontally */
    transform: translate(-50%, -50%); /* Center the button */
    opacity: 0; /* Hide the button by default */
    transition: opacity 0.3s ease; /* Add a transition effect */
  }
  
  .product-item:hover .button-container {
    opacity: 1; /* Show the button when the image is hovered */
  }
  
  .button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* CSS for the expanded image */
.expanded-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  padding: 20px;
}

.expanded-image img {
  max-width: 40vw; /* Limit image width to 90% of the viewport width */
  max-height: 40vh; /* Limit image height to 90% of the viewport height */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.add-to-cart-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-to-cart-button:hover {
  background-color: #45a049; /* Darker Green */
}
